/*
* @Author: wangyang
* @Date:   2017-07-17 17:30:23
* @Last Modified by:   wangyang
* @Last Modified time: 2017-07-18 12:26:34
*/

body{
	background: url('../../image/banner/banner1.jpg');
	color: green;
	font-size: 36px;

}